:root{
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
    --negro-mate: #333;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/


html{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--negro-mate);
    
}
.ultimos-Titulares{
    font-size: 24px;
}
.precios{
    font-size: 18px;
}
.descunto-o-descripcion{
    font-size: 16px;
}

.mini-header{
   align-items: center;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
}
.page-body{
    background-color: var(--gris-claro);
    padding: 50px 0;
}
main{
    width: 90%;
}

/*Navbar*/
.bar-menu{
    background-color: var(--amarillo);
    padding: 20px;
    width: 100%;
}

/*Logo*/
.logo{
    width: 50%;
    max-width: 150px;
    margin-left: 10px;
}

.payment-method{
    font-size: 18px;
    text-align: center;
    width: 100%;
}

/*menu-button*/
.burger-menu{
    text-align: center;
}
.burger-menu button{
    width: 50px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: var(--celeste);
    border: none;
    border-radius: 8px;
}

/*menu*/
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: var(--gris-oscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.navbar{
    display: none;
}

/*Search*/
.search-section{
    position: relative;
    display: inline-block;
}
.search-input{
    height: 32px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 5px;
}
.search-button i{
    font-size: 16px;
    font-weight: 700;
}
.search-button i:hover{
    color: var(--amarillo);
}
/*banner*/
.banner img{
    width: 100%;
}
/*Productos*/
main{
    margin: auto;
}
main h2{
    padding: 32px;
    text-align: center;
}
.section-product{
    background-color: white;
}
.section-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    width: 100%;
    margin: 5px;
}
.detail-product{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    text-align: left;
    background-color: white;
}
.detail-product span{
    display: inline-block;
}
.product-name{
    margin: 5px 0;
    display: none;
}
/*.detail-product:hover .product-name{
    display: block;
}*/
.product:hover{
    -webkit-box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
box-shadow: 13px 22px 18px 0px rgba(0,0,0,0.75);
}
.product img{
    width: 100%;
}
.price{
    width: 100%;
    margin: 10px 0;
}
.sale{
    font-size: 26px;
    width: 30%;
    font-weight: 700;
}
.discount{
    width: 70%;
    font-size: 22px;
    color: var(--verde);
}
footer{
    padding: 20px;
    color: var(--gris-oscuro);
}
.section-footer{
    margin: 35px;
    text-align: center;
}
.section-footer i{
    color: var(--celeste);
    font-size: 2rem;
    margin-bottom: 10px;
}
.footer-brand p{
    font-size: 10px;
}

/*Delivery icon*/
.detail-product{
    position: relative;
}
.detail-product > .product-delivery-icon{
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px var(--verde);
    color: var(--verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
}

.product-delivery-icon:hover{
    transform: rotate(-90deg) ;
}

.form-title{
    text-align: center;
    font-size: 48px;
    margin: 0 0 23px 0;
    
}
main form{
    display: flex;
    flex-direction: column;
    max-width: 450px;
    margin: auto;
}
main form label{
    font-size: 16px;
    color: var(--negro-mate);
    margin-top: 15px;
    font-weight: 700;

}
.input-style{
    height: 32px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}
.upload-style{
    margin: 5px 0;
}
.btn-submit, .btn-reset{
    height: 32px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn-submit{
    background-color: var(--celeste);
    color: white;
    margin: 32px 0 8px 0;
}
input.btn-submit:hover{
    background-color: white;
    color: var(--celeste);
    border: 1px solid var(--gris-claro);
    
}
.btn-reset{
    background-color: var(--gris-oscuro);
    color: white;
}
input.btn-reset:hover{
    background-color: white;
    color: var(--celeste);
    border: 1px solid var(--gris-claro);
}
.radio-option{
    margin: 8px 0 0 0;
}

/* Navegación en tablet*/
@media (min-width: 361px) {
    .product{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .product-name, .price{
        display: flex;
    }
    
    .product{
        max-width: 46%;
    }
}
/* Navegación en desktop*/
@media (min-width: 769px) {

    .logo{
        width: 150px;
    }
    .mini-header{
        display: flex;
        justify-content: space-between;
    }
    .burger-menu{
        display: none;
    }
    .navbar{
        /*border: dotted 2px red;*/
        display: flex;
        justify-content: space-between;
    }

    .navbar ul{
        display: flex;
    }
    .navbar li{
        margin: 0 5px;
    }
    .payment-method{
        text-align: center;
        max-width: 350px;
        text-align: right;
    }
    /*Product*/
    .price{
        display: flex;
    }
    .sale{
        width: 30%;
        background-color: #39b54a;
    }
    .discount{
        width: 70%;
        background-color: #eac926;
    }
    
    /*Register*/
    .form-titule{
        font-size: 56px;
    }
    main form{
        max-width: 520px;
    }
    .btn-submit, .btn-reset{
        height: 42px;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .input-style{
        height: 42px;
        margin: 8px 0;
        border-radius: 8px;
    }
    .upload-style{
        margin: 5px 0;
    }
    footer{
        display: flex;
    }
}

@media (min-width:1200px){
    .search-input {
        width: 610px;
    }
    .mini-header, .navbar{
        max-width: 1200px;
        margin: auto;
        padding-bottom: 15px;
    }
    .payment-method{
        font-size: 19px;
    }
    .logo{
        width: 250px;
    }
    .navbar a{
        font-size: 18px;
    }
    .product{
        max-width: 20%;
    }
    .sale{
        font-size: 2em;
    }
    main form{
        max-width: 620px;
    }
}