:root{
    --amarillo: #eac926;
    --azul: #03264c;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    
}

.ultimos-Titulares{
    font-size: 24px;
}

.precios{
    font-size: 18px;
}

.descunto-o-descripcion{
    font-size: 16px;
}
.mini-header{
   align-items: center;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   width: 100%;
}

main{
    width: 90%;
}

/*Navbar*/
.bar-menu{
    background-color: var(--amarillo);
    padding: 20px;
}

/*Logo*/
.logo{
    width: 50%;
    max-width: 150px;
    margin-left: 10px;
}

.payment-method{
    font-size: 18px;
    text-align: center;
    width: 100%;
}

/*menu-button*/
.burger-menu{
    text-align: center;
}
.burger-menu button{
    width: 50px;
    height: 50px;
    color: white;
    font-size: 18px;
    background-color: var(--celeste);
    border: none;
    border-radius: 8px;
}

/*menu*/
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a{
    text-decoration: none;
    color: var(--gris-oscuro);
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
.navbar{
    display: none;
}

/*Search*/
.search-section{
    position: relative;
    display: inline-block;
}
.search-input{
    height: 32px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    outline: none;
}
.search-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 5px;
}
.search-button i{
    font-size: 16px;
    font-weight: 700;
}
.search-button i:hover{
    color: var(--amarillo);
}
/*banner*/
.banner img{
    width: 100%;
}
/*Productos*/
main{
    margin: auto;
}
main h2{
    margin: 32px;
    text-align: center;
}
.section-product{
    background-color: white;
}
.section-main{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    width: 100%;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.detail-product{
    border: 1px solid var(--gris-claro);
    padding: 15px;
    text-align: left;
}
.detail-product span{
    display: inline-block;
}
.product-name{
    margin: 5px 0;
}
.product img{
    width: 100%;
}
.price{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.sale{
    font-size: 26px;
    width: 30%;
    font-weight: 700;
}
.discount{
    width: 70%;
    font-size: 22px;
    color: var(--verde);
}
footer{
    padding: 20px;
    color: var(--gris-oscuro);
}
.section-footer{
    margin: 35Spx;
    text-align: center;
}
.section-footer i{
    color: var(--celeste);
    font-size: 32px;
    margin-bottom: 10px;
}
.footer-brand p{
    font-size: 10px;
}
/*Delivery icon*/
.detail-product{
    position: relative;
}
.detail-product > .product-delivery-icon{
    display: block;
    font-size: 18px;
    padding: 5px;
    width: 35px;
    height: 35px;
    text-align: center;
    border: solid 1px var(--verde);
    color: var(--verde);
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;

}
@media (min-width: 768px) {

    .logo{
        width: 150px;
    }
    .mini-header{
        display: flex;
        justify-content: space-between;
    }
    .burger-menu{
        display: none;
    }
    .navbar{
        /*border: dotted 2px red;*/
        display: flex;
        justify-content: space-between;
    }

    .navbar ul{
        display: flex;
    }
    .navbar li{
        margin: 0 5px;
    }
    .payment-method{
        text-align: center;
        max-width: 350px;
        text-align: right;
    }
    .product{
        max-width: 47%;
    }
    
    
}

@media (min-width:1200px){
    .search-input {
        width: 610px;
    }
    .mini-header, .navbar{
        max-width: 1200px;
        margin: auto;
        padding-bottom: 15px;
        
    }
    .payment-method{
        font-size: 19px;
    }
    .logo{
        width: 250px;
    }
    .navbar a{
        font-size: 18px;
    }
    .product{
        max-width: 20%;
    }
    .sale{
        font-size: 2;
    }
}